@import 'bootstrap/dist/css/bootstrap';
.post-details{
  background: #fff;
  padding: 15px
}
.post-action{
  margin-bottom: 20px;
  i{
    margin-right: 10px;
    color: #ddd;
    cursor: pointer;
}
  i.hover{
    color:#999;

  }

}
.post-action i.active{
  color:red
}
.profile-status{
  margin-right: 3rem
}
