<div class="container">
    <div class="text-center mt-5">
        <h1>Welcome to LikeInsta </h1>
        <p class="lead">Sign-up and start sharing your photo</p>

        <%= link_to "Sign-up", new_account_registration_path,class: "btn btn-success" %>
        <%= link_to "Sign-in",  new_account_session_path,class: "btn btn-outline-success" %>

    </div>
</div>
